DOMAIN_NAME=
# certificates
CERTS_=
# MYSQL SETUP
SQL_ROOT_PASSWORD=
SQL_USER=
SQL_PASSWORD=
SQL_DATABASE=
TITLE=
WP_ADMIN_USER=
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=
WP_USER=yams
WP_USER_EMAIL=
WP_USER_PASSWORD=